/* ---- NAVBAR ---- */
.navbar {
    transition: background-color 0.3s ease;
}

.navbar.bg-dark-grey {
    background-color: #343a40 !important; /* Dark gray */
}

/* ---- reset ---- */
body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
    display: block;
    vertical-align: bottom;
}

::-webkit-scrollbar {
    width: 0px;
}

/* ---- particles.js and words ---- */
#particles-js {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    background-image: url("https://media.discordapp.net/attachments/1307882754406486109/1315847168250085489/Background.png?ex=6758e5ac&is=6757942c&hm=96da320ca1287da9480c974582de1b79dcf55018f02336c95b24136a7e311527&=&format=webp&quality=lossless&width=903&height=585");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
  

header {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.introduction { 
    position: absolute; 
    text-align: center;
    top: 20%;
    width: 100%;
}

header {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.introduction { 
    color: #f4f4f4;
    position: absolute;
    text-align: left;
    width: 100%;
    margin-bottom: 0px;
    top: 35%;
}

.name {
    font-size: 40px;
    padding: 0%;
    margin: 0px;
    padding-left: 3%;
}

.intro {
    font-size: 60px;
    padding-left: 3%;
    margin-top: 0px;
}


.GetStarted {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    left: 10%;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

.GetStarted:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.GetStarted:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.GetStarted:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
/* ---- Others ---- */
main {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 15%;
    margin-left: 15%;
    color: black;  
}

p {
    font-size: 15px;
}